html, body {
  padding: 0;
  margin: 0;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 300;
  color: #4a473d;
  background-color: #f1f1f1; }

.bottom-button-wrapper {
  position: relative;
  height: 45px;
  padding: 0;
  cursor: pointer; }
  .bottom-button-wrapper .bottom-button {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 0 0 5px 5px;
    background-color: #5bc0de; }

@media (max-width: 991px) {
  .bottom-button {
    font-size: 18px; } }
.twitter-logo-modal {
  margin: 35px 0 0 5px; }

.fa-twitter {
  color: #c8c8c4; }

.fa-twitter:hover {
  color: #4099ff; }

.logo-img-wrapper {
  margin: 30px 20px 0; }
  .logo-img-wrapper .logo-img {
    height: 45px;
    overflow: hidden;
    max-width: 100%;
    border-radius: 0; }

.logo-img-wrapper-modal {
  padding-right: 15px;
  padding-left: 20px; }
  .logo-img-wrapper-modal .logo-img-modal {
    height: 45px;
    overflow: hidden;
    max-width: 100%;
    border-radius: 0; }

.close {
  margin: 0 5px 0 0;
  font-weight: 400;
  font-size: 30px; }

@media (max-width: 750px) {
  .close {
    margin: 10px 0 0 10px;
    font-weight: 400;
    font-size: 35px; }

  .close:active {
    transform: translate(0px, 1px) scale(0.95); } }
.technology-delimiter-modal,
.design-delimiter-modal {
  width: 85%; }

.headline {
  text-align: center;
  margin: 15px 0 25px;
  font-size: 38px;
  letter-spacing: 3px; }

.headline-delimiter {
  width: 210px;
  background-color: #4a473d; }

.baseline {
  text-align: center;
  margin: 25px 0 0;
  font-size: 22px;
  font-weight: 300; }

@media (max-width: 991px) {
  .headline {
    margin: 15px;
    font-size: 30px;
    letter-spacing: 2px; }

  .baseline {
    margin: 15px 0 0;
    font-size: 18px;
    font-weight: 300; } }
@media (max-width: 750px) {
  * {
    font-size: 20px; } }
.search input[type="search"] {
  width: 100%;
  padding: 0px 25px;
  margin: 25px 0 0;
  line-height: 40px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 1px solid #4a473d;
  outline: none;
  font-size: 16px;
  font-weight: 400; }

.search input:focus {
  box-shadow: 0px 0px 0px 1px #4a473d;
  font-weight: 400; }

@media (max-width: 991px) {
  .search {
    width: 250px;
    margin: 0 auto; } }
@media (max-width: 750px) {
  input[type="search"]::-webkit-search-cancel-button {
    position: relative;
    cursor: pointer; }

  input[type="search"]::-webkit-search-cancel-button:before {
    position: absolute;
    left: -5px;
    top: -19px;
    content: "\f057";
    font-family: FontAwesome;
    font-size: 23px;
    cursor: pointer; }

  input[type="search"]::-webkit-search-cancel-button:active {
    color: #4a473d;
    transform: translate(0px, 1px) scale(0.95); } }
.search-results {
  padding: 20px 0 0;
  text-align: center; }

.nothing-found {
  margin: 60px 0 0 0;
  text-align: center;
  font-weight: 400;
  font-size: 22px; }

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: #ccc;
  font-weight: 300; }

.tag-global {
  display: inline-block; }

.tag-row {
  text-align: center; }

.tag-wrapper {
  margin-top: 25px; }

.tag-static {
  display: inline-block;
  padding: 2px 8px;
  margin: 6px;
  border-radius: 15px; }

.tag {
  padding: 5px 14px;
  margin: 8px;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  color: #ffffff;
  cursor: pointer;
  transition: transform .1s linear; }

.tag-modal {
  display: inline-block; }

.tag:hover {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  transform: translate(0px, -1px) scale(1.02); }

.tag:active {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.3);
  transform: translate(0px, 1px) scale(0.98); }

.product-name,
.product-description,
.product-platforms,
.founders-names-wrapper,
.product-url,
.product-founders {
  margin: 10px 0; }

.product-name-modal,
.product-url-modal,
.product-description-modal,
.product-launched-modal {
  margin: 0 0 8px; }

.product-founders-modal,
.product-platforms-modal,
.product-api-modal,
.technology-wrapper {
  margin: 0 0 8px; }

.founders-names-wrapper-modal {
  margin: 5px 19px 0 0; }

.product-color-modal {
  width: 28px;
  height: 28px;
  margin: 0 0 15px 5px;
  border-radius: 50%; }

.product-color-text-modal {
  padding: -5px 45px 0 0;
  margin-left: 45px; }

@media (max-width: 991px) {
  .product-colors-text {
    font-size: 14px; } }
@media (max-width: 991px) {
  .product-colors-text {
    font-size: 14px; } }
.modal-body {
  margin: 0 35px 0; }

.modal-content {
  border: 0; }

.card {
  border-width: 0px;
  border-radius: 7px;
  position: relative; }

.card-block {
  margin: 0 25px 0; }

@media (min-width: 544px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 1.25em;
    -moz-column-gap: 1.25em;
    column-gap: 1.25em; } }
@media (min-width: 991px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25em;
    -moz-column-gap: 1.25em;
    column-gap: 1.25em; } }
.container {
  width: 100%;
  margin: 0 auto 15px;
  background-color: #f1f1f1;
  font-size: 16px; }

.content {
  padding: 25px 0 20px 0; }

.header {
  text-align: center; }

.modal-header {
  border-bottom: none; }

/*# sourceMappingURL=aplication.css.map */
