/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px) {

}
/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px) {
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) {
}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
}
/* hi-res laptops and desktops */
@media (min-width:1281px) {
}

.card {
  border-width: 0px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
}

.card:hover {
  box-shadow: 0px 0px 0px 3px #c8c1a6, 0px 2px 4px 0px rgba(0,0,0,0.50);
  cursor: pointer;
}


/* Content of a card */
.product-logo {
  padding-left: 17px;
  margin-top: -10px;
  margin-bottom: 10px;
}

.product-description {
  padding-left: 17px;
  padding-right: 17px;
  margin-bottom: 10px;
}

.product-font {
  padding-left: 17px;
  margin-bottom: 10px;
}

.product-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.product-color-text {
  padding-left: 35px;
  padding-top: -5px;
}
/* ----------- */
