.card {
  border-color: #c8c8c4;
  border-width: 1.5px;
}

.card:hover {
  border-color: #74726a;
  box-shadow: 0px 0px 0px 2px #74726a;
  cursor: pointer;
}

/* ----- Content of a card ----- */
.card-img-top {
  margin-top: 30px;
  width:105px;
  height:30px;
  margin-left:25px;
}

.product-description {
  padding-left: 19px;
  padding-right: 19px;
  margin-bottom: 15px;
}

.product-platforms {
  padding-left: 19px;
  margin-bottom: 10px;
}

.product-fonts {
  padding-left: 19px;
  margin-bottom: 20px;
}

.product-colors {
  width: 28px;
  height: 28px;
  margin-left: 5px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.product-colors-text {
  padding-left: 45px;
  padding-top: -5px;
}
/* ----------- */
