.modal-header {
  border-bottom: none;
}

/* ----- Content of a card modal ----- */
.close { /* Close button inside the right corner */
  font-weight: 300;
  font-size: 30px;
  margin-right: 5px;
}

@media (max-width: 991px) {
  .close {
    font-weight: 400;
    font-size: 35px;
    margin-right: 10px;
    margin-top: 10px;
  }
}

.img-responsive {
  width: 105px;
  height: 30px;
  margin-top: 35px;
  margin-left: 20px;
}

.twitter-logo-modal {
  margin-top: 36px;
  margin-left: 5px;
}

.product-name-modal {
  padding-left: 35px;
  margin-bottom: 8px;
}

.product-url-modal {
  padding-left: 35px;
  margin-bottom: 8px;
}

.product-description-modal {
  padding-left: 35px;
  margin-bottom: 8px;
}

.product-launched-modal {
  padding-left: 35px;
  margin-bottom: 8px;
}


.product-founders-modal {
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 8px;
}

/* ----- Founders ----- */
.founders-names-wrapper-modal {
  margin-top: 5px;
  padding-left: 35px;
}

.fa-twitter {
  color: #c8c8c4;
}

.fa-twitter:hover {
  color: #4099ff;
}
/* ---------- */

.product-platforms-modal {
  padding-left: 35px;
  margin-bottom: 8px;
}

.product-api-modal {
  padding-left: 35px;
  margin-bottom: 8px;
}
/* ---------- */

/* ----- Technology ----- */
.technology-delimiter-modal {
  width: 85%;
}

.technology-wrapper {
  margin-bottom: 8px;
  padding-left: 35px;
}

.technology-name {
  margin-top: 8px;
}
/* ---------- */

/* ----- Design ----- */
.design-delimiter-modal {
  width: 85%;
}

.product-fonts-modal {
  margin-bottom: 12px;
  padding-left: 5px;
}

.colors-modal-wrapper {
  /*margin-left: 18px;*/
}
/* ---------- */

.tag-modal {
  display: inline-block;
}
