.modal-header {
  border-bottom: none;
}

/* ----- Content of a card modal ----- */
.close { /* Close button inside the right corner */
  font-weight: 200;
  font-size: 30px;
}

.img-responsive {
  width: 105px;
  height: 30px;
  margin-top: 35px;
  margin-left: 20px;
}

.product-url-modal {
  padding-left: 35px;
  margin-bottom: 8px;
}

.product-description-modal {
  padding-left: 35px;
  margin-bottom: 8px;
}

.product-launched-modal {
  padding-left: 35px;
}

.product-founders-modal {
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 8px;
}

.product-platforms-modal {
  padding-left: 35px;
  margin-bottom: 8px;
}

.product-api-modal {
  padding-left: 35px;
  margin-bottom: 8px;
}

/* Technology */

.technology-delimiter-modal {
  width: 500px;
}

.technology-wrapper {
  background-color: pink;
  padding-left: 35px;
}

.technology-name {
  color: red;
}

.subtechnology {
  color: blue;
}

/* --------- */

/* Design */
.design-delimiter-modal {
  width: 500px;
}

.product-fonts-modal {
  padding-left: 35px;
  margin-bottom: 8px;
}

.colors-modal-wrapper {
  margin-left: 13px;
}
/* ----------- */
