/* ----- Tag positioning----- */
.tag-row {
  text-align: center;
}

.tag-wrapper {
  margin: 25px 0 20px 0;  
}
/* ---------- */



/* ----- Tag styling ----- */
.tag {
  display: inline-block;
  padding: 3px 12px;
  margin: 0 5px 8px 0;
  border-radius: 20px;
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,.2);
  color: white;
  cursor: pointer;
  transition: transform .1s linear;
}

.tag:hover {
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,.2);
  transform: translate(0px, -1px) scale(1.02);
}

.tag:active {
  box-shadow: 0 rgba(0,0,0,.3);
  transform: translate(0px, 1px) scale(0.98);
}
/* ---------- */
