/* ------ Document attributes ----- */
html, body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #4a473d;
  background-color: #f1f1f1;
}
/* ----------- */



/* ------ Headlines ----- */
.headline {
  margin: 15px 0 25px;
  font-size: 38px;
  letter-spacing: 3px;
}

.headline-delimiter {
  width: 210px;
  background-color: #4a473d;
}

.baseline {
  margin: 25px 0 0;
  font-size: 22px;
  font-weight: 300;
}
/* ----------- */



/* ----- Headlines media styling ----- */
@media (max-width: 991px) {
  .headline {
    margin: 15px;
    font-size: 30px;
    letter-spacing: 2px;
  }

  .baseline {
    margin: 15px 0 0;
    font-size: 18px;
    font-weight: 300;
  }

  .search {
    width: 250px;
    margin: 0 auto;
  }

  .product-colors-text {
    font-size: 14px;
  }

  .bottom-buffer {
    margin: 0 0 5px;
  }
}
/* ---------- */



/* ----- Search ----- */
.search input[type="search"] {
  width: 100%;
  padding: 0px 25px;
  margin: 25px 0 0;
  line-height: 40px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #4a473d;
  outline: none;
  font-size: 16px;
  font-weight: 400;
}

.search input:focus {
  box-shadow: 0px 0px 0px 1px #4a473d;
  font-weight: 400;
}

.search-results {
  padding: 20px 0 0;
  text-align: center;
}

.nothing-found {
  margin: 60px 0 0 0;
  text-align: center;
  font-weight: 400;
  font-size: 22px;
}
/* ---------- */



/* ----- Search media styling ----- */
@media (max-width: 991px) {
  .search {
    width: 250px;
    margin: 0 auto;
  }
}
/* ---------- */



/* ----- Search cancel (for mobile) ----- */
@media (max-width: 750px) {
  input[type="search"]::-webkit-search-cancel-button {
    position: relative;
    cursor: pointer;
  }

  input[type="search"]::-webkit-search-cancel-button:before {
    position: absolute;
    left: -5px;
    top: -19px;
    content: "\f057";
    font-family: FontAwesome;
    font-size: 23px;
    cursor: pointer;
  }

  input[type="search"]::-webkit-search-cancel-button:active {
        color: black;
        transform: translate(0px, 1px) scale(0.95);
    }
  }
}
/* ---------- */



/* ----- Input placeholder color ----- */
::-webkit-input-placeholder, ::-moz-placeholder, :-moz-placeholder, :-ms-input-placeholder  { /* Chrome/Opera/Safari/Firefox 18+/Firefox 18-/Internet Explorer */
  color: #ccc;
  font-weight: 300;
}
/* ---------- */



/* ----- Content ----- */
.container {
  width: 100%;
  margin: 0 auto 15px;
  background-color: #f1f1f1;
  font-size: 16px;
}

.content {
  padding: 25px 0 20px 0;
}
/* ---------- */



/* ----- Product Colors ----- */
.product-colors {
  width: 28px;
  height: 28px;
  margin: 0 0 15px 5px;
  border-radius: 50%;
}

.product-colors-text {
  padding: -5px 0 0 45px;
}
/* ---------- */



/* ----- Product Colors Media Styling ----- */
@media (max-width: 991px) {
  .product-colors-text {
    font-size: 14px;
  }
}
/* ---------- */



/* ----- Helper classes ----- */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
/* ---------- */
