.modal-header {
  border-bottom: none;
}

.modal-body {
  margin: 0 35px 0;
}

/* ----- Modal card ----- */
.close {
  margin: 0 5px 0 0;
  font-weight: 400;
  font-size: 30px;
}

.img-responsive {
  width: 105px;
  height: 30px;
  margin: 0px 0 0 20px;
}

.twitter-logo-modal {
  margin: 35px 0 0 5px;
}

.product-name-modal, .product-url-modal, .product-description-modal, .product-launched-modal {
  margin: 0 0 8px;
}
/* ---------- */



/* ----- Modal card content ----- */
.product-founders-modal, .product-platforms-modal, .product-api-modal, .technology-wrapper {
  margin: 0 0 8px;
}

.founders-names-wrapper-modal {
  margin: 5px 19px 0 0;
}

.fa-twitter {
  color: #c8c8c4;
}

.fa-twitter:hover {
  color: #4099ff;
}

.technology-delimiter-modal, .design-delimiter-modal {
  width: 85%;
}

.product-color-modal {
  width: 28px;
  height: 28px;
  margin: 0 0 15px 5px;
  border-radius: 50%;
}

.product-color-text-modal {
 padding: -5px 45px 0 0;
 margin-left: 45px;
}
/* ---------- */



/* ----- Media styling (for mobile) ----- */
@media (max-width: 750px) {
  .close {
    margin: 10px 0 0 10px;
    font-weight: 400;
    font-size: 35px;
  }

  .close:active {
    transform: translate(0px, 1px) scale(0.95);
  }

  * {
    font-size: 20px;
  }
}
/* ---------- */
