/* ----- Card attributes ----- */
.card {
  border-width: 0px;
  border-radius: 7px;
}

@media (min-width: 544px) {
  .card-columns {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
}

@media (min-width: 991px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
  }
}
/* ---------- */



/* ----- Card Content ----- */
.card-block {
  margin: 0 25px 0;
}

.card-img-top {
  width: 105px;
  height: 30px;
  margin: 30px 0 0 25px;
}

.product-name, .product-description, .product-platforms, .founders-names-wrapper, .product-url, .product-founders {
  margin: 10px 0;
}

.bottom-button-wrapper {
  position: relative;
  height: 45px;
  padding: 0;
  cursor: pointer;
}

.bottom-button {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 0 0 5px 5px;
  background-color: #5bc0de;
}
/* ----------- */



/* ------ Card Content Media Styling (for mobile) ----- */
@media (max-width: 991px) {
  .bottom-button {
    font-size: 18px;
  }
}
/* ----------- */
