// =============================================================================
// Containers
// =============================================================================



/* ----- Page containers ----- */
.container {
  width: 100%;
  margin: 0 auto 15px;
  background-color: $background-color;
  font-size: 16px;
}
/* ---------- */



/* ----- Static containers ----- */
//Card columns
@include card-columns ($mobile-size, $handheld-columns, $handheld-columns-gap);
@include card-columns ($desktop-size, $desktop-columns, $desktop-columns-gap);

.content {
  padding: 25px 0 20px 0;
}

.card {
  border-width: 0px;
  border-radius: 7px;
  position: relative;
}

.card-block {
  margin: 0 25px 0;
}


/* ----- Modal containers ----- */
@media (max-width: $handheld-size) {
  .modal-dialog {
    max-width: 95%;
  }
}

@media (min-width: $desktop-size) {
  .modal-dialog {
    min-width: 800px;
  }
}

.modal-content {
  border: 0;
}

.modal-body {
  margin: 0 50px 0;
  padding-top: 25px;
}

@media (max-width: $handheld-size) {
  .modal-body {
    margin: 0 25px 0;
  }
}
/* ---------- */
