// =============================================================================
// Buttons
// =============================================================================



/* ----- Show anatomy button ----- */
.card-footer {
  position: relative;
  height: 45px;
  padding: 0;
  cursor: pointer;

  .btn {
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: 0 0 5px 5px;
    background-color: $button-color;

    @media (max-width: $desktop-size) {
        font-size: 18px;
    }
  }
}
/* ---------- */



/* ----- Add product button ----- */
.add-button {
  margin: 10px 0 0;
}
/* ---------- */



/* ----- Modal close button ----- */
.modal-header {
  .close {
    font-size: 25px;
    margin-bottom: 35px;
    margin-top: 5px;
    @include text(30px, $regular);

    @media (max-width: $handheld-size) {
      font-size: 45px;

      &:active {
        transform: translate(0px, 1px) scale(0.95);
      }
    }
  }
}
/* ---------- */
