// =============================================================================
// Icons, logos, images
// =============================================================================



/* ----- Product logo image ----- */
.product-img {
  max-width: 100%;
  height: 45px;
  overflow: hidden;
  border-radius: 0;
}

.logo-img-wrapper {
    margin: 0 30px 0;
    padding: 45px 0 0;

    .logo-img {
      @extend .product-img;

    }
}

.logo-img-wrapper-modal {
  position: absolute;
  bottom: 0;

  .logo-img-modal {
    @extend .product-img;
  }
}
/* ---------- */



/* ----- Twitter icon----- */
.twitter-logo-modal {
  margin: 35px 0 0 5px;
}

.fa-twitter {
  color: $twitter-color;
}

.fa-twitter:hover {
  color: $twitter-hover-color;
}
/* ---------- */
