// =============================================================================
// Typography, text, headlines
// =============================================================================


/* ----- Texts ----- */
.headline {
  @include text(38px, $light, center, 3px);
  margin: 15px 0 25px;

  @media (max-width: $desktop-size) {
    @include text(30px, $spacing: 2px);
      margin: 15px;
  }
}

.baseline {
  @include text(22px, $light, center);
  margin: 25px 0 0;
}

// Handheld text modification //TODO: Do better now
@media (max-width: $handheld-size) {
  * {
    font-size: 20px;
  }
}
/* ---------- */



/* ----- Delimeters ----- */
.headline-delimiter {
  width: 210px;
  background-color: $text-color;
}

.technology-delimiter-modal,
.design-delimiter-modal {
  width: 85%;
}
