// =============================================================================
// Typography, text, headlines
// =============================================================================


/* ----- Texts ----- */
.headline {
  margin: 15px 0 25px;
  a {
    @include text(38px, $light, center, 3px);
    color: $text-color;
    text-decoration: none;

    @media (max-width: $desktop-size) {
      @include text(30px, $spacing: 2px);
        margin: 15px;
    }
  }
}

.baseline {
  @include text(22px, $light, center);
  margin: 25px 0 0;
}

// Handheld text modification //TODO: Do better now
@media (max-width: $handheld-size) {
  * {
    font-size: 20px;
  }
}

.modal {
  font-size: 20px;
}

.content {
  font-size: 18px;
}

.tag {
font-size: 16px;
font-weight: $regular;
}
/* ---------- */



/* ----- Delimeters ----- */
.headline-delimiter {
  width: 210px;
  background-color: $text-color;
}
