// =============================================================================
// Whole document
// =============================================================================


/* ----- Document ----- */
html,
body {
  font-family: $basic-font;
  font-weight: $light;
  color: $text-color;
  padding: 0;
  margin: 0;
  background-color: $background-color;
}

.announcement {
  @include text(22px, $regular, center);
  margin: 60px 0 0 0;
}
