// Font constants
$basic-font: 'Lato', Arial, sans-serif;
$basic-font-weight: 400;
$light-font-weight: 300;
//$basic-font-normal-size:


// Style constants
$circle-borders: 50%;


// Colors constants
$text-color: #4a473d;
$background-color: #f1f1f1;
$secondary-background-color: #ffffff;
$button-color: #5bc0de;
$placeholder-color: #ccc;

$twitter-color: #c8c8c4;
$twitter-hover-color: #4099ff;


// Media constants
$mobile-size: 544px;
$handheld-size: 750px;
$desktop-size: 991px;
$handheld-columns: 1;
$desktop-columns: 3;
$handheld-column-gap: 1.25em;
$dekstop-column-gap: 1.25em;
